@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather|Noto+Serif+KR|DM+Serif+Text|Jua|Gamja+Flower|Crete+Round|Sniglet&display=swap');

html, body, div, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, input, select, button, form {
	margin: 0;
	padding: 0;
	box-sizing: border-box; 
	/*border-box(선&여백 총 길이) & contect-box(기본 박스 길이)*/
}

html, body{
	font-size: 16px;
	color: #111;
} /* html, body 글꼴, 사이즈, 색 */

/* 순서를 나타내는 리스트 */
ul, ol, li, dl, dt, dd{
list-style: none;
}

input, button { border: none; padding: 0; margin: 0;}

img{
	border: none;
	margin: 0;
	padding: 0;
	
} 
a, a:link {color: inherit; text-decoration: none;}
a:hover {opacity: 0.7; color: inherit;}

/* 이미지 전체 여백 */

/* 공통 클래스 */
.img {
	display: block;
	width: 100%;
	margin: 0px auto;
} /*반응형 100%*/

.img-wrap{
	line-height: 0.7px;}

.tc {text-align: center}
.tl {text-align: left}
.tr {text-align: right}

.font-b {font-weight: bold;}
.font15{font-size: 15px}
.font18{font-size: 18px}
.font20{font-size: 20px}
.font25{font-size: 25px}

.fl {float: left;}
.fr { float: right;}

.abs {position: absolute;}
.rel {position: relative;}
.fix {position: fixed;}

.pointer{cursor: pointer}

.clear:after {
	display: block;
	content: '';
	clear: both;
} 


 /* 줄 간격 */

.ins-4{width: 40px;}
.ins-5{width: 50px;}
.ins-6{width: 60px;}
.ins-7{width: 70px;}
.ins-8{width: 80px;}
.ins-9{width: 90px;}
.ins-10{width: 100px;}
.ins-4p{width: 40%;}
.ins-5p{width: 50%;}
.ins-6p{width: 60%;}
.ins-7p{width: 70%;}
.ins-0p{width: 100%;}


.ta{padding: 16px;
font-size: 16px; color: rgb(100, 21, 21); border: 1px solid #555;}
.ta-rnd{border-radius: 4px;}
.ta-5 {width: 50%}
.ta-6 {width: 60%}
.ta-7 {width: 70%}
.ta-8 {width: 80%}
.ta-9 {width: 90%}
.ta-10 {width: 100%}

.bt {
	padding: 4px 12px;
font-size: 16px;
cursor: pointer;
}
.bt-rnd { border-radius: 4px; }
.bt-orange {
background-color: rgb(97, 36, 17);
border: 1px solid #444; color: #fff;
}
.bt-green {
	background-color: rgb(10, 41, 9);
border: 1px solid #444; color: #fff;
}
.bt-red {
	background-color: rgb(97, 17, 17);
	border: 1px solid #444; color: #fff;
	}
	.bt-ghost {
		background-color: none;
		border: 1px solid rgba(63, 63, 63, 0.692); color: rgb(255, 255, 255);
		}
		.bt-ghost:hover {
			background-color: rgba(17, 17, 17, 0.5);	border: 1px solid rgba(221, 221, 221, 0.692); color: rgb(192, 192, 192);
		}
	.bt-ghost-dark {
		background-color: none;
		border: 1px solid rgba(221, 221, 221, 0.692); color: rgb(255, 255, 255);
		}
		.bt-ghost-dark:hover {
			background-color: rgba(255, 255, 255, 0.5);	border: 1px solid rgba(26, 9, 9, 0.692); color: rgb(53, 21, 21);
		}